

<ul>
    <li>
       <a [routerLink]="['/img']" routerLinkActive="router-link-active">
        Home
       </a>
    </li>
    <li>
        <a [routerLink]="['/department']" routerLinkActive="router-link-active"> 
              Department   
        </a>
    </li>
    <li>
        <a [routerLink]="['/user']" routerLinkActive="router-link-active"> 
             user    
        </a>
    </li>
   
    <!-- <li>
        <a [routerLink]="['/']" routerLinkActive="router-link-active"> 
             Home    -->
        <!-- </a> -->
    <!-- </li> -->
    
    
</ul>